<template>
    <div class="flex text-gray-700 text-base relative p-8">
        <svg class="h-40 w-full absolute inset-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="0,0 100,0 0,100" class="fill-current text-brand-primary"/>
        </svg>
        <div class="w-1/2 pr-8 relative">
            <h5 class="mb-5 font-bold text-lg text-white">Sortable Post List</h5>

            <sortable-list v-model="posts" @sorted="onSorted">
                <template v-slot:default="{items}">
                    <transition-group name="flip-list" tag="div">
                        <div v-for="(item, index) in items" :key="item.id" class="sortable-list-item px-4 py-2 h-16 bg-white rounded shadow-md mb-4 flex justify-between items-center">

                            <span class="font-semibold text-sm truncate"> {{ item.title }} </span>
                            <div class="flex flex-col justify-between">
                                <sortable-move-handler :index="index" type="up" v-if="index !== 0">
                                    <button class="block py-1">
                                        <svg class="fill-current text-brand-primary h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"/></svg>
                                    </button>
                                </sortable-move-handler>

                                <sortable-move-handler :index="index" type="down" v-if="index !== items.length -1">
                                    <button class="block block py-1">
                                        <svg fill="current" class="fill-current text-brand-primary h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                    </button>
                                </sortable-move-handler>
                            </div>
                        </div>
                    </transition-group>
                </template>
            </sortable-list>
        </div>

        <div class="w-1/2 pl-8 relative">
            <div class="rounded shadow-lg overflow-hidden">
                <div class="bg-white py-3 px-4 text-base font-semibold">List of Actions Commited</div>
                <div class="bg-gray-200 px-4 py-4">
                    <div class="rounded overflow-hidden shadow-lg">
                        <transition-group name="list" tag="div" >
                            <div v-for="(action, index) in commitedActions" :key="action.actionId" class="action-item py-3 px-2 bg-white flex items-center justify-between" :class="{'border-b': (index+1) !== commitedActions.length}">
                                <div class="font-medium text-xs w-3/4 flex">
                                    <span class="truncate flex-1 inline-block">{{ `Moved ${action.data.title}` }}</span>
                                    <span class="inline-block">{{` from index ${action.oldIndex} to index ${action.newIndex}` }}</span>
                                </div>
                                <button @click="undoAction(action)" class="time-travel bg-green-400 text-brand-primary text-xs font-semibold px-4 py-2 rounded hover:bg-green-300">Time Travel</button>
                            </div>
                        </transition-group>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import SortableList from "./components/SortableList";
    import SortableMoveHandler from "./components/SortableMoveHandler";

    export default {
        name: "app",
        components: {SortableMoveHandler, SortableList},
        created() {
            this.$store.dispatch('posts/fetchAll')
                .then(res => {
                    console.log('All Done!');
                })
                .catch(e => {
                    console.log('Error, ', e)
                })
        },
        methods: {
            undoAction(action) {

                this.commitedActions = this.commitedActions.filter(x => x !== action);
                let currentIndex = this.posts.findIndex(x => x === action.data);
                let oldIndex = action.oldIndex;

                let result = this.posts.slice(); //Clone
                result.splice(currentIndex,1); //Remove current item
                result.splice(oldIndex,0,action.data); //Add to the old index

                this.posts = result;
            },
            onSorted(oldArray, newArray, log) {
                log['actionId'] = this.commitedActions.length + 1;
                this.commitedActions.unshift(log);
            }
        },
        data() {
            return {
                commitedActions: [],
            }
        },
        computed: {
            posts: {
                get() {
                    return this.$store.getters['posts/getAvailablePosts'];
                },
                set(newVal) {
                    this.$store.dispatch('posts/updatePosts', newVal);
                }
            }
        }
    }
</script>
<style>
    .flip-list-move {
        transition: transform 1s;
    }
    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
        transition: all 0.5s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(-30px);
    }
</style>

