<template>
    <div>
        <slot v-bind:items="value"></slot>
    </div>
</template>

<script>
    export default {
        name: "ActionHistory",
        props: ['value']
    }
</script>

<style scoped>

</style>