<template>
    <div>
        <slot v-bind:items="value">
            <template ><!-- Fallback  -->
                <transition-group name="flip-list" tag="div">
                    <div v-for="(item, index) in value" :key="item.id" class="sortable-list-item px-4 py-2 h-16 bg-white rounded shadow-md mb-4 flex justify-between items-center">

                        <span class="font-semibold text-sm"> {{ item.title }} </span>
                        <div class="flex flex-col justify-between">
                            <sortable-move-handler :index="index" type="up" v-if="index !== 0">
                                <button class="block py-1">
                                    <svg class="fill-current text-brand-primary h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"/></svg>
                                </button>
                            </sortable-move-handler>

                            <sortable-move-handler :index="index" type="down" v-if="index !== value.length -1">
                                <button class="block block py-1">
                                    <svg fill="current" class="fill-current text-brand-primary h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </button>
                            </sortable-move-handler>
                        </div>
                    </div>
                </transition-group>
            </template>
        </slot>
    </div>
</template>

<script>
    import { EventBus } from '../EventBus';
    import SortableMoveHandler from '../components/SortableMoveHandler';

    export default {
        name: "SortableList",
        props: ['value'],
        components:{SortableMoveHandler},
        mounted() {
            EventBus.$on('move', (currentIndex, newIndex) => {
                this.move(currentIndex, newIndex);
            })
        },
        methods: {
            move(currentIndex, newIndex) {
                if(newIndex >= this.value.length) return;

                let result = this.value.slice();
                let currentItem = result.splice(currentIndex,1)[0];
                result.splice(newIndex,0, currentItem);

                let log = {
                    data: currentItem,
                    type: this.type,
                    oldIndex: currentIndex,
                    newIndex: newIndex
                };

                this.$emit('input', result);
                this.$emit('sorted', this.value, result, log);
            }
        }
    }
</script>
