<template>
    <div @click="move" :class="[btnClass]">
        <slot>
        </slot>
    </div>
</template>

<script>
    import { EventBus } from '../EventBus';

    export default {
        name: "SortableMoveHandler",
        props: {
            index: {
                required: true,
                type: Number
            },
            type: {
                required: true,
                validator: function (value) {
                    // The value must match one of these strings
                    return ['up', 'down'].indexOf(value) !== -1
                }
            }
        },
        computed: {
            newIndex() {
                return this.type === 'up'? this.index -1: this.index + 1;
            },
            btnClass() {
                return `handler-move-${this.type}`;
            }
        },
        methods: {
            move(){
                if(this.type === 'up') {
                    this.moveUp();
                }
                if(this.type === 'down') {
                    this.moveDown();
                }
            },
            moveUp() {
                this.index > 0 ? EventBus.$emit('move', this.index, this.newIndex): '';
            },
            moveDown() {
                EventBus.$emit('move', this.index, this.newIndex); //Handle out of index
            }

        }
    }
</script>

